@use '../../variable.scss' as *;

.page {
  display: flex;
  flex-flow: column nowrap;
  padding: 20 0px;

  .main {
    display: flex;
    flex-flow: column nowrap;
    gap: 50;
  }

  min-height: 100svh;
}

.homeCollection {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-between;

  overflow-x: scroll;


  // Chrome, Edge, Safari
  &::-webkit-scrollbar-button {
    display: none; // hides the little arrows
    width: 0;
    height: 0;
  }

  // Thin style
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  .smallDisclaimer{
    font-size: 8px;
  }
}

.Gallery {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;

  gap: 10px;
  margin-bottom: 10px;

  img {
    border-radius: $border-radius;
  }
}

.ServiceComponent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;

  .ServiceComponentLeft {
    background-color: #092a2c;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    flex-grow: 1;
    h3{
      font-weight: 600;
    }

  }

  .ServiceComponentRight {
    background-color: #092a2c;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    flex-grow: 1;


  }

  li {
    list-style-position: inside;
  }

  .ServiceComponentLink {
    color: #2dffed;
  }
}