.NavBar {
  margin: 10px auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;


  .logo {
    flex-basis: 33.33%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    // text-transform: uppercase;
  }
  .links {
    flex-basis: 33.33%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 20px;
    gap: 15px; 
  }

  .icons {
    flex-basis: 33.33%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    gap: 20px;
  }

}